* {
    font-family: 'Sigmar One', 'cursive';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(245, 245, 245);
}

header > h1 {
    text-align: center;
    padding: 20px;
    color: rgb(37, 37, 38);
}

body {
    background-color: rgb(37, 37, 38);
    color: rgb(245, 245, 245);
}

.score-board {
    text-align: center;
    font-size: 60px;
    margin: 40px auto;
    width: 250px;
    border: 2px solid white;
    padding: 0 50px;
    position: relative;
    background-color: rgb(43, 43, 44);
}


.badge {
    background-color: rgb(175, 43, 65);
    font-size: 20px;
    width: 80px;
    position: absolute;
    top: 30px;   
}

#user-label {
    left: -40px;
}
#comp-label {
    right: -40px;
}

.result-message {
    text-align: center;
    font-size: 30px;
}

.choices {
    margin-top: 25px;
    text-align: center;
}
.choice {
    margin: 0 15px;
    padding: 0 0 5px 0;
    display: inline-block;
    border: 10px solid white;
    border-radius: 50%;
    transition: .2s;
}
@media (max-width: 700px){
    .result-message {
        font-size: 20px;
    }
    .choices {
        display: flex;
    }
    .choice {
        width: 30%;
    }
    .choice > img {
        height : auto;
        width : 100%;
        
    }
}

.choice:hover {
    box-shadow: 0 0 30px white;
    background-color: white;
}

.green-glow {
    box-shadow: 0 0 60px rgb(67, 139, 64);
    background-color: rgb(67, 139, 64);
}

.red-glow {
    box-shadow: 0 0 60px rgb(153, 18, 36);
    background-color: rgb(153, 18, 36);
}

.text-comment {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.disabled {
    pointer-events: none;  /**<-----------*/
  }
  